@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}

body {
    background-color: #feebe7;

}

#fundotop {
    width: 70vw;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 0;
}

#fundobottom {
    width: 60vw;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 0;
}

/*=========== CABEÇALHO ===========*/
#flexmenu {
    visibility: hidden;
}

#header {
    width: 100vw;
    height: 130px;
    display: flex;
    /* background-color: #f21c23; */
}

#header_l {
    width: 34%;
    height: 100%;
    text-align: center;
    /* background-color: #f3f715a5; */
}

#header_l img {
    width: 180px;
    height: 45px;
    margin-top: 30px;
}

#header_r {
    width: 66%;
    height: 100%;
    /* background-color: #2ff715a5; */
}

#navbar,
#navbar ul {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#header_r li {
    list-style: none;
    align-self: center;
}

#header_r a {
    font-family: 'Pathway Gothic One', sans-serif;
    text-decoration: none;
    color: #92255C;
    font-size: 23px;
    font-weight: 900;
    margin: 0 11px;
}

#header_r a:hover {
    text-decoration: underline;
}

/*=========== CORPO ===========*/

#hello {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100px;
    display: inline-block;
    line-height: 120px;
    background-image: linear-gradient(to left, #8d2985, #ed008d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: fixed;
    top: 40vh;
    right: 24vw;
}

#rosquinha {
    width: 40vw;
    min-width: 557px;
    position: fixed;
    top: 25vh;
}

/*=========== RODAPÉ ===========*/

#footer {
    width: 410px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 24vw;
    top: 80vh;
}

#btn1 {
    display: flex;
    border: solid 2px #c37f8f;
}

#btn1 a {
    text-decoration: none;
    color: #be2d70;
    font-weight: 900;
    font-family: arial, sans-serif;
    padding: 10px 20px;
    letter-spacing: 1px;
}

#btn2 {
    display: flex;
    background-image: linear-gradient(to left, #842983, #ec0383);
    padding: 0 20px;
    color: white;
    align-items: center;
}

#follow {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: normal;
}

#btn2 img {
    width: 30px;
    margin-right: 5px;
}

/*=========== RESPONSIVIDADE ===========*/
@media (max-width: 950px) {
    #hello {
        -webkit-text-stroke: 5px #FFF;
    }

    #footer {
        top: initial;
        bottom: 20px;
    }
}

@media (max-width: 620px) {
    #hello {
        font-size: 50px;
        text-align: center;
        line-height: 70px;
        top: 9vh;
        width: 100%;
        left: 0;
        -webkit-text-stroke: 0;
    }

    #rosquinha {
        width: 90vw;
        min-width: 250px;
    }

    #footer {
        width: 100vw;
        height: 95px;
        right: initial;
        top: initial;
        bottom: 5px;
        justify-content: center;
    }

    #btn1 {
        height: 47px;
        width: 240px;
        position: absolute;
    }

    #btn1 a {
        width: 100%;
        text-align: center;
    }

    #btn2 {
        height: 47px;
        width: 240px;
        position: absolute;
        bottom: 0;
        left: auto;
        right: auto;
    }
}

@media (max-width: 550px) {
    #fundotop{
        visibility: hidden;
    }

    #header {
        background-color: #ffd9da;
        height: 50px;
        box-shadow: #50505080 0 2px 10px;
    }

    #header_l img {
        width: 100px;
        height: 25px;
        margin-top: 12px;
        position: fixed;
        left: 15px;
    }

    #header_r {
        visibility: hidden;
    }

    #flexmenu {
        visibility: visible;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1;
    }

    #rosquinha {
        top: 35vh;
    }
}